.table-best > * {
  width: 100%;
}
/* .table-best > *:nth-child(odd) {
  background-color: #dee2e6;
} */
.table-best > *:nth-child(even) {
  background-color: #e9ecef90;
}
.row {
  display: grid;
  text-align: right;
  align-items: center;
  grid-template-columns: 0.5fr 0.5fr repeat(7, 1fr) repeat(3, 1.5fr);
  gap: 0.5rem;
}
.row > *:nth-child(1),
.row > *:nth-child(2),
.row > *:nth-child(4) {
  text-align: center;
}
.row > *:nth-child(3) {
  text-align: left;
}
